{{ define "main" }}
<section style="padding: 80px 0 40px 0;">
  <h1>Tag: {{ .Title }}</h1>
</section>

<section>
  <div class="post-grid">
    {{ range .Pages }}
    <div class="post-card">
      <div>
        <div class="post-meta">{{ .Date.Format "Jan 02, 2006" }}</div>
        <a href="{{ .RelPermalink }}" class="post-title">{{ .Title }}</a>
        <p>{{ .Summary }}</p>
      </div>

      {{ if .Params.target_doc }}
        <a href="{{ .Params.report_page | relURL }}" class="btn btn-sm">Open Analysis ➔</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}